include ../head.pug
body
    .container.mt-5
      h1 List
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Product Name
            th(scope="col") Product DateTime
            th(scope="col") Farm
            th(scope="col") Contact Phone
            th(scope="col") Price
            th(scope="col") Actions
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/product')
          .then(function(response) {
            const products = response.data;
            const tableBody = document.querySelector('table tbody');
            products.forEach(t => {
              const row = document.createElement('tr');
              const product = t.product
              row.innerHTML = `
                <td>${t.id}</td>
                <td>${product.productName}</td>
                <td>${product.productDateTime}</td>
                <td>${product.farm}</td>
                <td>${product.contactPhone}</td>
                <td>${product.price}</td>
                <td>
                  <button class="btn btn-primary btn-sm">Edit</button>
                  <button class="btn btn-danger btn-sm">Delete</button>
                </td>
              ;
